.card {
  width: 20rem;
  height: 25rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
}

.image {
  width: 20rem;
  height: 20rem;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2px;
}

.startYear,
.ratings.span,
.duration {
  font-size: 1.2rem;
  font-weight: 500;
}

.ratings,
.duration {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratings span {
  font-size: 1.2rem;
}

.star {
  width: 1.5rem;
  fill: var(--star-orange);
}

.bookMark {
  position: absolute;
  width: 3rem;
  fill: var(--star-orange);
  color: var(--star-orange);
}

.bookMark:link,
.bookMark:visited {
  transition: all 0.3;
}

.bookMark:hover,
.bookMark:active {
  fill: var(--star-orange-darker);
  color: var(--star-orange-darker);
}
