.card {
  width: 20rem;
  height: 25rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}

.image {
  width: 20rem;
  height: 20rem;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.star {
  width: 2rem;
  color: orange;
}
