.container {
  width: 100%;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.bar {
  display: flex;
  gap: 2rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.bar::-webkit-scrollbar {
  display: none;
}

.buttonContainerBack,
.buttonContainerForward {
  height: 20rem;
  width: 3rem;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: rgba(250, 250, 250, 0.6);
  color: var(--primary);
  z-index: 1;
}

.buttonContainerBack {
  position: absolute;
  left: 0;
  top: 0;
}

.buttonContainerBackEnd {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0 5%, #fff 50% 100%);
}

.buttonContainerForward {
  position: absolute;
  right: 0;
  top: 0;
}

.buttonContainerForwardEnd {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0 5%, #fff 50% 100%);
}

.buttonContainerForward:link,
.buttonContainerFordward:visited,
.buttonContainerBack:link,
.buttonContainerBack:visited {
  transition: all 0.3s;
}

.buttonContainerForward:hover,
.buttonContainerForward:active,
.buttonContainerBack:hover,
.buttonContainerBack:visited {
  background-color: rgba(250, 250, 250, 0.8);
}
